## Making predictions with logistic regression

In [1]:
# prep
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  
import numpy as np

In [2]:
password = getpass.getpass()

········

In [ ]:
# get the data
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

In [ ]:
# 1. 
# Create a query or queries to extract the information you think may be relevant for building the prediction model. 
# It should include some film features and some rental features. Use the data from 2005.

In [ ]:
query_features = '''select f.film_id, f.rental_rate, f.special_features, f.rating, fc.category_id, fa.actor_id
FROM sakila.film as f
LEFT JOIN sakila.film_actor fa USING (film_id)
LEFT JOIN sakila.film_category fc USING (film_id)
GROUP BY f.film_id;'''
features = pd.read_sql_query(query_features, engine)

In [ ]:
# 2. 
# Create a query to get the list of films and a boolean indicating if it was rented 
# last month (August 2005). This would be our target variable.

In [ ]:
query_target = '''select f.film_id, rental_date
FROM sakila.rental 
LEFT JOIN sakila.inventory i USING (inventory_id)
LEFT JOIN sakila.film f USING (film_id)
WHERE rental_date BETWEEN '2005-05-01 00:00:00' AND '2005-05-31 23:59:59'
GROUP BY f.film_id;'''
target = pd.read_sql_query(query_target, engine)

In [ ]:
features

In [ ]:
target

In [ ]:
# I didnt manage to get any further but I will work on it again this week!
# We were trying to compare the two lists to identify the missing 314 film-ids but failed
# I think we were overcomplicating things and I wanted to have a fresh look at it again

In [ ]:
# target['rented_in_may']=1

In [ ]:
# target

In [ ]:
# '''film_id_features=features['film_id']
# film_id_target=target['film_id']
# film_id_target
# film_id_features
# missing_film_id=[]
# i=0
# j=0
# def compareList(l1,l2):
#     for i in l1:
#         for j in l2:
#             if(i==j):
#                 pass
#             else:
#                 missing_film_id.append(i)
#     return missing_film_id
# compareList(film_id_features,film_id_target)'''

In [ ]:
# len(missing_film_id)

In [ ]:
# target['rented_in_may']=np.where(target["rented_in_may"] == "1",True,False)

In [ ]:
# target.head()